print(' ')  
print('--------------------------------------------------------------------------------------------------------------') 
print(' ')  

product=open('product.txt', 'w')

quantity=open('quantity.txt', 'w') 

purchase_prices=open('purchase_prices.txt', 'w') 

sale_prices=open('sales_prices.txt', 'w') 

items=int(input('How many items ? '))  

print(' ')  
print('--------------------------------------------------------------------------------------------------------------') 
print(' ') 

Total_revenue_ACB=[] 

Total_cost_list=[] 

Products_report={} 

for volume_items in range(items): 
  product_name=input('Enter a name of purchased products === > ') 
  print('--------------------------------------------------------------------------------------------------------------') 
  qqty=input('Enter the quantity of purchased products === > ') # input command to help gather quantity of products 
  print('--------------------------------------------------------------------------------------------------------------') 
  purchase_price=input('Enter the price of purchased products === > $') # input command to help gather purchase prices of products
  print('--------------------------------------------------------------------------------------------------------------') 
  sale_price=input('Enter the sale price of products === > $') # input command to help gather sale price of products
  print('--------------------------------------------------------------------------------------------------------------') 
  product.write(product_name+'\n') 
  quantity.write(qqty+'\n') 
  purchase_prices.write(purchase_price+'\n') 
  sale_prices.write(sale_price+'\n') 
  try: 
    revenue=int(qqty)*int(sale_price) 
    cost=int(qqty)*int(purchase_price) 
    single_profit=revenue-cost 
    Total_cost_list.append(cost) 
    Products_report[product_name]=[revenue, cost, single_profit] 
    print(' ') 
    print('--------------------------------------------------------------------------------------------------------------') 
    print('Revenue === > $', revenue) 
    print('Costs   === > $', cost) 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
  except: 
    print(' ') 
    print('\u274c ERROR \u274c PLEASE DOUBLE CHECK INPUT VALUE FOR LAST PRODUCT AND START AGAIN \u274c ERROR \u274c') 
    print(' ') 
    print(' ') 
  if revenue > 60000: 
    revenue1=revenue-3000 
    Total_revenue_ACB.append(revenue1)
    print('==============================================================================================================') 
    print('Congrats! You are eligible for cashback: $ 3000') 
    print('==============================================================================================================') 
    print('Your Revenue after cashback === > $', revenue1) 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
    print(' ') 
  elif 20000 < revenue <= 60000: 
    revenue2=revenue-150 
    Total_revenue_ACB.append(revenue2) 
    print('==============================================================================================================') 
    print('Congrats! You are eligible for cashback: $ 150') 
    print('==============================================================================================================') 
    print('Your Revenue after cashback === > $', revenue2) 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
    print(' ') 
  else: 
    Total_revenue_ACB.append(revenue) 
    print('--------------------------------------------------------------------------------------------------------------') 
    print('Unfortunately no cashback this time') 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
    print(' ') 

product.close() 

quantity.close() 

purchase_prices.close() 

sale_prices.close() 


Total_cost=sum(Total_cost_list) 

Total_revenue_after_cash_back=sum(Total_revenue_ACB) 

Profit=Total_revenue_after_cash_back-Total_cost

print(' ') 
print('Total Costs === > $', Total_cost) 
print(' ') 
print('Total revenue after cash back === > $', Total_revenue_after_cash_back) 
print(' ') 
print('Total Profit is equal to === > $',Profit)  
print(' ')
print('--------------------------------------------------------------------------------------------------------------') 
print(' ') 
for product_name, (revenue, cost, single_profit) in Products_report.items(): 
  print(product_name, '== >', 'Revenue: $', revenue, 'Cost: $', cost, 'Profit: $', single_profit) 
  if single_profit < 0: 
    print(' ')
    print('\u274c WARNING \u274c the product is loss making \u274c WARNING \u274c') 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
  elif single_profit ==0: 
    print(' ') 
    print('\u274c WARNING \u274c the product is not profitable \u274c WARNING \u274c') 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
  else: 
    print(' ') 
    print('!!!CONGRATS!!! this product is profitable !!!CONGRATS!!!') 
    print('--------------------------------------------------------------------------------------------------------------') 
    print(' ') 
